## isabelle

# ignore backup files
# seems to follow isabelle procedure,
# see https://isabelle-dev.sketis.net/source/isabelle/browse/default/.hgignore
*~

# ignore temporary files (Isabelle/jEdit stores unsaved changes this way)
\#*.thy\#
\#*\#

# ignore markers (created when marking lines with right click)
*.thy.marks

# isabelle builds
output

## other

# VSCode workspace settings
.vscode/
